APP_NAME=PasarKita
APP_ENV=local
APP_DEBUG=true
BASEURL=http://localhost/pasarkita/public/

DB_HOST=localhost
DB_USER=root
DB_PASS=
DB_NAME=pasarkita

SMARTBANK_CONNECTOR_URL=http://localhost:5000
SMARTBANK_CONNECTOR_API_KEY=
SMARTBANK_MARKETPLACE_EXTERNAL_ID=marketplace-merchant-main
SMARTBANK_CONNECTOR_TIMEOUT_MS=10000

